.author {
  background-color: $lavender;
  padding: $px128 0;
  position: relative;
  margin-bottom: $px128;

  @include break('L') {
    padding: $px80 0;
    margin-bottom: $px80;
  }

  @include break('tablet') {
    padding: $px32 0;
    margin-bottom: $px32;
  }

  &__content {
    @include flex-between;
    gap: $px32;
    width: 75%;
    margin: 0 auto;

    @include break('L') {
      flex-direction: column;
    }

    &__image {
      width: 300px;
      height: auto;

      @include break('phone') {
        width: 280px;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: $px16;
    margin-bottom: $px24;
  }

  &__text {
    color: $mediumGrey;
    margin-bottom: $px16;
  }

  &__links {
    display: flex;
    gap: $px16;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 24px;

    @include break('tablet') {
      display: none;
    }
  }

  &::before {
    left: 190px;
    width: 56%;
    background: $yellow;
  }

  &::after {
    right: 190px;
    width: 24%;
    background: $purple;
  }
}
