.card {
  display: flex;
  align-items: center;
  gap: $px32;

  @include break('XL') {
    flex-direction: column;
    margin-bottom: $px48;
  }

  @include break('tablet') {
    margin-bottom: $px24;
  }

  &__image {
    @include break('XL') {
      width: 100%;
      height: auto;
    }
  }

  &__subtitle {
    letter-spacing: 3px;
    text-transform: uppercase;
    color: $purple;
    margin-bottom: $px20;
  }

  &__title {
    margin-bottom: $px16;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
      color: $purple;
    }
  }

  &__text {
    color: $mediumGrey;
  }
}
