.testimonials {
  padding: 0 $px80;
  color: $deepBlue;
  margin-bottom: $px128;
  width: 100%;

  @include break('phone') {
    padding: 0 $px16;
    margin: 0 auto $px64;
    max-width: 320px;
  }

  &__content {
    display: grid;
    grid-template-columns: 10fr 1fr 10fr;
    background-color: $lightYellow;
    padding: $px96 $px108 $px64 $px108;

    @include break('Xl') {
      padding: $px96 $px80 $px64 $px80;
    }

    @include break('L') {
      @include flex-column;
    }

    @include break('tablet') {
      padding: $px48 $px64 $px32 $px64;
    }

    @include break('phone') {
      padding: $px16;
      margin: 0 auto;
    }

    &__info {
      & h6 {
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: $px12;
      }

      & h2 {
        margin-bottom: $px16;
      }

      @include break('L') {
        margin-bottom: $px36;
      }
    }

    &__divider {
      display: block;
      width: 2px;
      background-color: $mediumGrey;
      opacity: 0.4;
    }
  }
}
