.team {
  @include flex-between;
  gap: $px96;
  padding: 0 $px80;
  margin-bottom: $px128;
  color: $deepBlue;

  @include break('XL') {
    flex-direction: column;
    margin-bottom: $px28;
    gap: $px28;
  }

  @include break('tablet') {
    padding: 0 $px36;
  }

  @include break('phone') {
    padding: 0 $px16;
  }

  &__info {
    @include flex-column;
    gap: $px16;
  }

  &__image {
    position: relative;

    &__bg {
      @include break('tablet') {
        width: 100%;
        height: auto;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 30%;
      left: -50px;
      width: 100px;
      height: 116px;
      background-color: $yellow;
      border-top-left-radius: 50%;
      z-index: 5;

      @include break('tablet') {
        display: none;
      }
    }
  }
}
