@import '@/theme/_vars.scss';

.button {
  padding: $px16 $px48;
  text-align: center;
  font-size: $px18;
  line-height: $px24;
  font-weight: 700;
  border: none;
  transition: all 0.3s linear;
  cursor: pointer;

  &:disabled {
    background-color: $lightGrey;

    &:hover {
      background-color: $lightGrey;
    }
  }
}

.primary {
  color: $deepBlue;
  background-color: $yellow;

  &:hover {
    background-color: $deepYellow;
  }
}

.secondary {
  background-color: $white;
  color: $deepBlue;

  &:hover {
    filter: brightness(80%);
  }
}
