.category__cards {
  @include flex-column;
  gap: $px24;
  margin: $px48 0;
}

.category__card {
  display: flex;
  align-items: center;
  gap: $px16;
  padding: $px24;
  width: 100%;
  border: 1px solid $mediumGrey;
  transition: all 0.3s linear;
  cursor: pointer;

  & img {
    background-color: $lightYellow;
    border-radius: $px16;
  }

  & p {
    font-size: $px20;
    font-weight: 700;
    text-transform: uppercase;
    color: $deepBlue;
  }

  &:hover,
  &.active {
    background-color: $yellow;
    border: 1px solid transparent;
  }
}
