.logotips {
  @include flex-between;
  padding: 0 $px80;
  margin-bottom: $px96;
  width: 100%;

  @include break('XL') {
    padding: 0 $px32;
    flex-wrap: wrap;
  }

  @include break('tablet') {
    flex-direction: column;
    gap: $px32;
  }

  &__text {
    @include flex-column;
    color: $mediumGrey;
  }

  &__image {
    opacity: 0.8;
    transition: opacity 0.2s linear;

    &:hover {
      opacity: 1;
    }
  }
}
