$black: #000000;
$fadedBlack: #00000080;
$deepBlue: #232536;
$lightViolet: #2e3040;
$purple: #592ea9;
$green: #008000;
$darkGrey: #4c4c4c;
$mediumGrey: #6d6e76;
$red: #ff0000;
$yellow: #ffd050;
$deepYellow: #edc14a;
$lavender: #f4f0f8;
$lightYellow: #fbf6ea;
$lightGrey: #f4f4f4;
$white: #ffffff;

$px4: 4px;
$px12: 12px;
$px14: 14px;
$px16: 16px;
$px18: 18px;
$px20: 20px;
$px24: 24px;
$px28: 28px;
$px32: 32px;
$px36: 36px;
$px48: 48px;
$px56: 56px;
$px64: 64px;
$px80: 80px;
$px96: 96px;
$px108: 108px;
$px128: 128px;
$px192: 192px;
$px256: 256px;
