.footer {
  @include flex-column;
  background-color: $deepBlue;
  color: $white;
  padding: $px48 $px56;
  gap: $px48;

  &__nav {
    @include flex-between;

    &_list {
      @include flex-center;
      gap: $px24;
    }
  }

  &__bottom {
    @include flex-between;

    &__links {
      opacity: 0.7;
    }

    &__social {
      @include flex-center;
      gap: $px24;
    }
  }
}
