.footer {
  @include flex-column;
  background-color: $deepBlue;
  color: $white;
  padding: $px48 $px56;
  gap: $px48;

  @include break('L') {
    padding: $px48;
  }

  @include break('tablet') {
    padding: $px32 $px24;
  }

  @include break('phone') {
    padding: $px16;
  }

  &__nav {
    @include flex-between;

    @include break('tablet') {
      flex-direction: column;
      gap: $px24;
    }

    &_list {
      @include flex-center;
      gap: $px24;

      @include break('tablet') {
        flex-direction: column;
        gap: $px24;
      }

      .active {
        color: $yellow;
      }
    }
  }

  &__bottom {
    @include flex-between;

    @include break('phone') {
      @include flex-center;
      text-align: center;
      flex-direction: column;
      gap: $px24;
    }

    &__links {
      opacity: 0.7;
    }

    &__social {
      @include flex-center;
      gap: $px24;
    }
  }
}
