.special_post {
  position: relative;
  padding: 0 $px80;
  margin-bottom: $px128;
  width: 100%;

  &__image {
    width: 80%;
    object-fit: cover;

    @include break('L') {
      width: 100%;
    }

    @include break('tablet') {
      height: 500px;
    }

    @include break('phone') {
      height: 400px;
    }
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 50%;
    z-index: 10;
    padding: $px80;

    @include break('L') {
      padding: $px48;
    }

    @include break('tablet') {
      padding: $px32;
      width: 80%;
      right: $px48;
      bottom: -$px32;
    }
  }
}

.title {
  margin-bottom: $px16;
}

.subtitle {
  color: $deepBlue;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: $px24;
}

.text {
  margin-bottom: $px32;
  color: $mediumGrey;
}
